services:
  api:
    build: ./api
    ports:
      - "3000:80"
    # depends_on:
    #   - db
    networks:
      - api-network

  # db:
  #   image: postgres:16
  #   ports:
  #     - "5432:5432"
  #   volumes:
  #     - ./db-data:/db/data
  #     - ./initdb:/docker-entrypoint-initdb.d
  #   networks:
  #     - api-network

networks:
  api-network: