services:
  traefik:
    image: traefik:v2.10
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      - "traefik.enable=true"
    networks:
      - micro-services

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 2181:2181
    networks:
      - micro-services
  
  kafka:
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - micro-services

  front:
    build: ./front
    ports:
      - 19000:19000
      - 19001:19001
      - 19002:19002
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
    networks:
      - micro-services

  user:
    build: ./user-service
    expose:
      - 80
    env_file: "./user-service/.env"
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.front.rule=Host(`user.localhost`)"
      - "traefik.http.routers.users.rule=PathPrefix(`/users`)"
      - "traefik.http.services.users.loadbalancer.server.port=80"
    networks:
      - micro-services

  flower:
    build: ./flower-service
    expose:
      - 80
    env_file: ./flower-service/.env
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.front.rule=Host(`flower.localhost`)"
      - "traefik.http.routers.flower.rule=PathPrefix(`/flower`)"
      - "traefik.http.services.flower.loadbalancer.server.port=80"
    depends_on:
      - flower-db
    networks:
      - micro-services

  flower-db:
    image: postgres:15
    env_file: ./flower-service/.env
    volumes:
      - ./flower-service/init.sql:/docker-entrypoint-initdb.d/init-flower.sql
      - flower-data:/var/lib/postgresql/data
    networks:
      - micro-services

  chatbot:
    build: ./chatbot-service
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.front.rule=Host(`chatbot.localhost`)"
      - "traefik.http.routers.chatbot.rule=PathPrefix(`/chatbot`)"
      - "traefik.http.services.chatbot.loadbalancer.server.port=80"
    depends_on:
      kafka:
        condition: service_started
    networks:
      - micro-services

  sensor:
    build: ./sensor-service
    expose:
      - 80
    env_file: ./sensor-service/.env
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.front.rule=Host(`sensor.localhost`)"
      - "traefik.http.routers.sensor.rule=PathPrefix(`/sensor`)"
      - "traefik.http.services.sensor.loadbalancer.server.port=80"
    depends_on:
      kafka:
        condition: service_started
      sensor-db:
        condition: service_started
    networks:
      - micro-services

  sensor-db:
    image: postgres:15
    env_file: ./sensor-service/.env
    volumes:
      - ./sensor-service/init.sql:/docker-entrypoint-initdb.d/init-sensor.sql
      - sensor-data:/var/lib/postgresql/data
    networks:
      - micro-services

  recommendation:
    build: ./recommendation-service
    expose:
      - 80
    env_file: ./recommendation-service/.env
    labels:
      - "traefik.enable=true"
      # - "traefik.http.routers.front.rule=Host(`sensor.localhost`)"
      - "traefik.http.routers.sensor.rule=PathPrefix(`/recommendation`)"
      - "traefik.http.services.sensor.loadbalancer.server.port=80"
    depends_on:
      kafka:
        condition: service_started
      sensor:
        condition: service_started
      recommendation-db:
        condition: service_started
    networks:
      - micro-services
  
  recommendation-db:
    image: postgres:15
    env_file: ./recommendation-service/.env
    volumes:
      - ./recommendation-service/init.sql:/docker-entrypoint-initdb.d/init-recommendation.sql
      - recommendation-data:/var/lib/postgresql/data
    networks:
      - micro-services

  notification:
    build: ./notification-service
    expose:
      - 80
    env_file: ./notification-service/.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notification.rule=PathPrefix(`/notification`)"
      - "traefik.http.services.notification.loadbalancer.server.port=80"
    depends_on:
      kafka:
        condition: service_started
      notification-db:
        condition: service_started
    networks:
      - micro-services

  notification-db:
    image: postgres:15
    env_file: ./notification-service/.env
    volumes:
      - ./notification-service/init.sql:/docker-entrypoint-initdb.d/init-notification.sql
      - notification-data:/var/lib/postgresql/data
    networks:
      - micro-services

volumes:
  flower-data:
    driver: local
  sensor-data:
    driver: local
  notification-data:
    driver: local
  recommendation-data:
    driver: local

networks:
  micro-services:
    driver: bridge
